/* Start Global Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-duration: 300ms;
}
/* End Global Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', 'Open Sans',sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Components  */

/* End Components  */
/* End Global Rules */
/* Start Header */
header {
  background-color: white;
  box-shadow: 0 0 10px #DDD;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
    justify-content: center;
  }
}
header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: var(--main-color);
  font-weight: bold;
  height: 70px;
}
@media (max-width: 767px) {
  header .container .logo {
    width: 100%;
    height: 50px;
  }
}
header .container ul.main-nav {
  display: flex;
}
header .container ul.main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  height: 70px;
  padding: 0 30px;
  position: relative;
  transition-duration: calc( var(--main-duration) / 2);
}
@media (max-width: 767px) {
  header .container ul.main-nav > li > a{
  font-size: 1rem;
  padding: 0 10px;
  height: 50px;
  }
}
header .container ul.main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color-alt);
}
header .container ul.main-nav > li > a::after {
  content: '';
  background-color: var(--main-color);
  width: 0;
  height: 4px;
  transition-duration: var(--main-duration);
  position: absolute;
  top: 0;
  left: 0;
}
header .container ul.main-nav > li > a:hover::after {
  width: 100%;
}
/* End Header */
