/* Start Global Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-background: #ececec;
  --paragraph-color: #777;
  --main-duration: 300ms;
  --section-padding: 100px;
}
/* End Global Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', 'Open Sans',sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Components  */
/* Start Main Title */
.main-title  {
  text-transform: uppercase;
  font-size: 30px;
  width: fit-content;
  padding: 10px 25px;
  margin: 0 auto 80px;
  border: 2px solid black;
  position: relative;
  z-index: 3;
}
.main-title:hover {
  animation: main-title 600ms var(--main-duration) linear forwards;
}
.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  z-index: -4;
}
.main-title:hover::before {
  animation: fill-right 600ms linear forwards;
}
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  z-index: -4;
}
.main-title:hover::after {
  animation: fill-left 600ms linear forwards;
}
/* End Main Title  */
/* Start Spikes */
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
  linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* End Spikes */
/* End Components  */
/* End Global Rules */
/* Start Header */
header {
  background-color: white;
  box-shadow: 0 0 10px #DDD;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
    justify-content: center;
  }
}
header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: var(--main-color);
  font-weight: bold;
  height: 70px;
}
@media (max-width: 767px) {
  header .container .logo {
    width: 100%;
    height: 50px;
  }
}
header .container ul.main-nav {
  display: flex;
}
header .container ul.main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  height: 70px;
  padding: 0 30px;
  position: relative;
  transition-duration: calc( var(--main-duration) / 2);
}
@media (max-width: 767px) {
  header .container ul.main-nav > li > a{
  font-size: 1rem;
  padding: 0 10px;
  height: 50px;
  }
}
header .container ul.main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color-alt);
}
header .container ul.main-nav > li > a::after {
  content: '';
  background-color: var(--main-color);
  width: 0;
  height: 4px;
  transition-duration: var(--main-duration);
  position: absolute;
  top: 0;
  left: 0;
}
header .container ul.main-nav > li > a:hover::after {
  width: 100%;
}
/* Start Megamenu */
header .mega-menu  {
  --mega-menu-border-color: #e9e6e6;
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  z-index: 99;
  padding: 30px;
  background-color: white;
  border-top: 1px solid var(--mega-menu-border-color, #e9e6e6);
  border-bottom: 3px solid var(--main-color);
  display: flex;
  column-gap: 40px;
  transition: top var(--main-duration), opacity;
  opacity: 0;
  visibility: hidden;
}
header .container ul.main-nav > li:last-of-type:hover > .mega-menu {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    padding: 5px;
  }
}
header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .mega-menu .image img {
    display: none;
  }
}
header .mega-menu ul.links {
  flex-grow: 1;
}
header .mega-menu ul.links li a {
  display: block;
  border-bottom: 1px solid var(--mega-menu-border-color, #e9e6e6);
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  min-width: 250px;
  max-width: 100%;
  position: relative;
}
header .mega-menu ul.links li a::before {
  content: '';
  width: 0;
  height: 100%;
  background-color: #fafafa;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: var(--main-duration);
}
header .mega-menu ul.links li a:hover:before {
  width: 100%;
}
header .mega-menu ul.links li a i {
  width: 30px;
}
header .mega-menu ul.links li:last-of-type a {
  border-bottom: none;
}
@media (max-width: 767px) {
  header .mega-menu ul.links:first-of-type li:last-of-type a {
    border-bottom: 1px solid var(--mega-menu-border-color, #e9e6e6);
  }
}
/* End Megamenu */
/* End Header */
/* Start Landing */
.landing {
  position: relative;
  overflow-x: hidden;
}
.landing::before {
  content: '';
  background-color: #ececec;
  width: 150%;
  height: 100%;
  position: absolute;
  transform-origin: left top;
  transform: translateX(-30%) rotate(-6deg);
  z-index: -2;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 70px);
  position: relative;
}
@media (max-width: 991px) {
  .landing .container {
    text-align: center;
  }
}
.landing .container img {
  width: 600px;
  transform: translateY(10%);
  animation: up-and-down 2.5s alternate infinite linear;
}
@media (max-width: 991px) {
  .landing .container img {
    display: none;
  }
}
  .landing .container .text {
  margin-top: -12.5%;
  flex: 1;
  }
  .landing .container .text h1 {
    font-size: 2.5rem;
    letter-spacing: -1px;
    margin-bottom : 0;
  }
  @media (max-width: 767px) {
    .landing .container .text h1 {
      font-size: 33px;
    }
  }
  .landing .container .text P {
    font-size: 23px;
    color: var(--paragraph-color, #777);
    line-height: 1.6;
    max-width: 500px;
  }
  @media (max-width: 991px) {
    .landing .container .text p {
      margin: 0 auto;
    }
  }
  @media (max-width: 767px) {
    .landing .container .text p {
      font-size: 20px;
    }
  }
  .landing .go-down {
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transition: var(--main-duration);
    transform: translateX(-50%) translateY(0px);
    animation: bouncing 1.5s infinite ease-in-out ;
  }
  .landing .go-down:hover {
    color: var(--main-color-alt);
  }
/* End Landing */
/* Start Articles  */
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.articles .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .content .article-box {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  transition-duration: var(--main-duration);
}
.articles .content .article-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
}
.articles .content .article-box .image img {
  max-width: 100%;
}
.articles .content .article-box .text {
  padding: 20px;
  border-bottom: 1px solid #e9e6e6;
}
.articles .content .article-box .text h3 {
  margin-bottom: 10px;
}
.articles .content .article-box .text p {
  color: var(--paragraph-color);
  line-height: 1.6;
}
.articles .content .article-box a {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  font-weight: bold;
}
.articles .content .article-box:hover i {
  animation: arrow-move-right 500ms linear infinite;
}
/* End Articles  */
/* Start Gallery */
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background, #ececec);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .box {
  background-color: white;
  padding: 15px;
  box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%), 0 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .container .box img {
  max-width: 100%;
  transition-duration: var(--main-duration);
}
.gallery .container .box:hover img {
  transform: scale(1.1) rotate(5deg);
}
.gallery .container .box .image::before {
  content: '';
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgb(255, 255, 255 , 20%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
}
.gallery .container .box:hover .image::before {
  animation: flashing 0.7s;
}
/* End Gallery */
/* Start Features */
.features {
  --first-color: #f44036;
  --second-color: #009688;
  --third-color: #03a9f4;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .feature-box {
  border: 1px solid #ccc;
  overflow: hidden;
}
.features .container .image {
  position: relative;
  z-index: -2;
}
.features .container .image img {
  max-width: 100%;
  display: block;
}
.features .container .feature-box .image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.features .container .feature-box:nth-child(1) .image::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .feature-box:nth-child(2) .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .feature-box:nth-child(3) .image::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .feature-box .text {
  padding: 30px;
  text-align: center;
  background-color: white;
  position: relative;
}
.features .container .feature-box .text::before {
  content: "";
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white transparent;
  transition-duration: var(--main-duration);
  position: absolute;
  top: -170px;  
  right: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .features .container .feature-box .text::before {
    top: -169px;
  }
}
.features .container .feature-box:hover .text::before {
  border-width: 0 500px 170px 0;
}
.features .container .feature-box .text h3 {
  font-size: 40px;
  position: relative;
  width: fit-content;
  margin: auto;
}
.features .container .feature-box .text h3::before {
  content: "";
  width: calc(100% - 30px);
  height: 5px;
  position: absolute;
  bottom: -17.5px;
  left: 15px;
}
.features .container .feature-box:nth-child(1) .text h3::before {
  background-color: var(--first-color, #f44036);
}
.features .container .feature-box:nth-child(2) .text h3::before {
  background-color: var(--second-color, #009688);
}
.features .container .feature-box:nth-child(3) .text h3::before {
  background-color: var(--third-color, #03a9f4);
}
.features .container .feature-box .text p {
  color: var(--paragraph-color);
  line-height: 2;
  font-size: 20px;
  margin: 40px 0;
}
.features .container .feature-box .text a {
  display: block;
  font-size: 23px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 30px; 
  width: fit-content;
  border-radius: 6px;
  position: relative;
  z-index: 2;
  transition: var(--main-duration);
}
.features .container .feature-box:nth-child(1) .text a {
  color: var(--first-color, #f44036);
  border: 3px solid var(--first-color, #f44036);
  background-image: linear-gradient(to right, var(--first-color, #f44036) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .feature-box:nth-child(2) .text a {
  color: var(--second-color, #009688);
  border: 3px solid var(--second-color, #009688);
  background-image: linear-gradient(to right, var(--second-color, #009688) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .feature-box:nth-child(3) .text a {
  color: var(--third-color, #03a9f4);
  border: 3px solid var(--third-color, #03a9f4);
  background-image: linear-gradient(to right, var(--third-color, #03a9f4) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .feature-box:hover .text a {
  color: white;
  background-position: left bottom;
}
/* End Features */
/* Start Testimonials */
.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  padding: 20px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 10%);
  position: relative;
}
.testimonials .container .box .img-holder img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  right: -10px;
  border: 10px solid var(--section-background);
  border-radius: 50%;
}
.testimonials .container .box span {
  display: block;
  color: var(--paragraph-color);
  margin: 10px 0;
  color: var(--main-color);
}
.testimonials .container .box p {
  color: var(--paragraph-color);
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.5;
}
.testimonials .container .box ul.rating {
  display: flex;
  gap: 4px;
}
.testimonials .container .box ul.rating li:not(.no-color) i {
  color: #ffc107;
}
/* End Testimonials */
/* Stat Team Members */
.team-members {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team-members .container .box {
  background-color: #f3f3f3;
  margin-left: 60px;
  border-radius: 10px;
  position: relative;
}
.team-members .container .box::before {
  content: "";
  border-radius: inherit;
  background-color: #e4e4e4;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition-duration: var(--main-duration);
}
.team-members .container .box:hover::before {
  width: 100%;
}
.team-members .container .box .img-links-holder {
  display: flex;
  margin-top: 60px;
  transform: translateX(-60px);
  width: 360px;
}
@media (max-width: 767px) {
  .team-members .container .box .img-links-holder {
    width: 350px;
  }
}
.team-members .box img {
  max-width: calc(100% - 60px);
  border-radius: 10px;
  transition-duration: var(--main-duration);
}
.team-members .box:hover img {
  filter: grayscale(100%);
}
.team-members .box ul.links {
  margin: auto;
}
.team-members .box ul.links li a {
  display: block;
  margin-top: 30px;
  color: #777;
  transition-duration: var(--main-duration);
}
.team-members .box ul.links li:hover a {
  color: var(--main-color);
}
.team-members .box .text {
  position: relative;
  padding: 20px;
}
.team-members .box .text h3 {
  color: var(--main-color);
  font-size: 22px;
  margin-bottom: 10px;
  transition-duration: var(--main-duration);
}
.team-members .box:hover h3 {
  color: #777;
}
/* End Team Members */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%), 0 2px 4px 0px rgb(0 0 0 / 12%);
  counter-increment: ser;
  position: relative;
  transition-duration: var(--main-duration);
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box::before {
  content: '';
  background-color: var(--main-color);
  height: 0;
  width: 0;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: var(--main-duration);
}
.services .container .box:hover::before {
  height: 3px;
  width: 100%;
}
.services .container .box .title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.services .container .box .title i {
  font-size: 60px;
  margin-bottom: 20px;
  color: #d5d5d5;
}
.services .container .box .title h3 {
  font-size: 25px;
  color: var(--main-color);
}
.services .box .info {
  text-align: right;
  padding: 15px;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}
.services .box .info a {
  color: var(--main-color)
}
.services .box .info::after {
  content:"0"counter(ser);
  height: 100%;
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  left: 20px;
}
.services .box .info::before {
  content: '';
  width: 30%;
  height: 101%;
  background-color: var(--main-color);
  transform: skew(-30deg);
  position: absolute;
  top: 0;
  left: -8%;
  box-shadow: 50px 0 0 0 #d5d5d5;
}
/* End Services */
/* Start Our Skills  */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px)  {
  .our-skills .container .img-holder img {
    display: none;
  }
}
.our-skills .container .skills {
  flex: 1;
}
.our-skills .container .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .container .skill:not(:first-child) h3 {
  margin-top: 15px;
}
.our-skills .container .skill h3 span {
  display: block;
  padding: 3px 5px;
  background-color: white;
  font-size: 12px;
  color: var(--main-color);
  border: 1px solid #ccc;
  border-radius: 4px;
}
.our-skills .container .skill .bar {
  background-color: #eee;
  margin-top: 15px;
  height: 30px;
} 
.our-skills .container .skill .bar span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
}
/* End Our Skills  */
/* Start How It Works */
.how-it-works {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.how-it-works .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
  row-gap: 50px;
}
@media (max-width: 991px) {
  .how-it-works .container {
    flex-direction: column;
  }
  .how-it-works .container > .img-holder > img {
    max-width: 100%;
  }
}
.how-it-works .container .step-box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .how-it-works .container .step-box {
    flex-direction: column;
    text-align: center;
  }
}
.how-it-works .container .step-box::before {
  content: '';
  width: 0;
  height: 0;
  background-color: #ededed;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: var(--main-duration);
}
.how-it-works .container .step-box:hover::before {
  width: 100%;
  height: 100%;
}
.how-it-works .container .step-box img {
  width: 64px;
}
.how-it-works .container .step-box h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
.how-it-works .container .step-box p {
  color: var(--paragraph-color);
  font-size: 18px;
  line-height: 1.6;
}
/* End How It Works */
/* Start Events */
.events {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
  background-image: url("../images/dots.png") , url("../images/dots.png");
  background-repeat: no-repeat , no-repeat;
  background-position: 100% 28% , left 75%;
}
.events .container {
  display: flex;
  align-items: center;
}
.events .container img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .events .container img {
    display: none;
  }
}
.events .container .info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}
.events .container .info .time {
  display: flex;
  column-gap: 10px;
}
.events .container .info .time .unit {
  border: 1px solid #ccc;
  border-radius: 6px;
  transition-duration: var(--main-duration);
}
.events .container .info .time .unit span {
  display: block;
}
.events .container .info .time .unit span:first-of-type {
  color: var(--main-color);
  padding: 20px 15px;
  font-size: 40px;
  font-weight: bold;
  width: 75px;
} 
.events .container .info .time .unit span:last-of-type {
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  border-top: 1px solid #ccc;
  transition-duration: var(--main-duration);
}
.events .container .info .time .unit:hover,
.events .container .info .time .unit:hover span:last-of-type {
  border-color: var(--main-color);
}
.events .container .info h3 {
  font-size: 30px;
}
.events .container .info p {
  font-size: 19px;
  color: var(--paragraph-color);
  line-height: 1.7;
}
.events .subscribe {
  margin: 70px auto 0;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events form {
  max-width: 600px;
  background-color: #f6f5f5;
  border-radius: 10% / 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 30px 40px;
  flex: 1;
}
@media (max-width: 767px) {
  .events form {
    flex-direction: column;
    border-radius: 0;
    padding: 20px;
    row-gap: 20px;
  }
}
.events form input[type="email"] {
  flex: 1;
  border: none;
  border-radius: 8% / 50%;
  padding: 20px;
  background-color: white;
  caret-color: var(--main-color);
}
.events form input[type="email"]:focus {
  outline: none;
  border: none;
}
.events form input[type="email"]::placeholder {
  transition-duration: var(--main-duration);
}
.events form input[type="email"]:focus::placeholder {
  color: transparent;
}
.events form input[type="submit"] {
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  border: none;
  border-radius: 25% / 50%;
  padding: 20px;
  cursor: pointer;
  transition-duration: var(--main-duration);
}
.events form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
@media (max-width: 767px) {
  .events form input[type="email"],
  .events form input[type="submit"] {
    display: block;
    border-radius: 0;
    width: 100%;
  }
}
/* Start Events */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  background-image: url("../images/dots.png") , url("../images/dots.png");
  background-repeat: no-repeat , no-repeat;
  background-position: 100% 23% , left 78%;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .container .pricing-box {
  box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%), 0 2px 4px 0px rgb(0 0 0 / 12%);
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
}
.pricing .container .pricing-box::before,
.pricing .container .pricing-box::after {
  content: '';
  background-color: #f6f6f6;
  height: 50%;
  width: 0;
  z-index: -1;
  transition-duration: var(--main-duration);
  position: absolute;
}
.pricing .container .pricing-box::before {
  top: 0;
  left: 0;
}
.pricing .container .pricing-box::after {
  bottom: 0;
  right: 0;
}
.pricing .container .pricing-box:hover::before,
.pricing .container .pricing-box:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .pricing .container .pricing-box:nth-child(2) {
    transform: translateY(-20px);
  }
}
.pricing .container .pricing-box .head {
  text-align: center;
}
.pricing .container .pricing-box .head h3 {
  font-size: 25px;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
.pricing .container .pricing-box .head img { 
  width: 80px;
}
.pricing .container .pricing-box span {
  display: block;
} 
.pricing .container .pricing-box .head span:first-of-type {
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
  margin-top: 30px;
}
.pricing .container .pricing-box .head span:last-of-type {
  color: var(--paragraph-color);
  margin: 5px 0 20px;
}
.pricing .pricing-box ul.pricing-features li {
  border-top: 1px solid #eee;
  padding: 20px;
}
.pricing .pricing-box ul.pricing-features li::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--main-color);
  margin-right: 10px;
}
.pricing .pricing-box a {
  display: block;
  margin: 30px auto 0;
  width: fit-content;
  padding: 15px 20px;
  color: var(--main-color);
  font-weight: bold;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  transition-duration: var(--main-duration);
}
.pricing .pricing-box a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}
.pricing .pricing-box span.blue-flag {
  writing-mode: vertical-lr;
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
  padding: 10px 10px 35px;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 20px;
  width: 40px;
}
.pricing .pricing-box span.blue-flag::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border: 20px solid;
  border-color: transparent transparent white  transparent;
  transition: calc( var(--main-duration) + 200ms );
}
.pricing .pricing-box:hover span.blue-flag::after {
  border-color: transparent transparent #f6f6f6  transparent;
}
/* End Pricing */
/* Start Videos  */
.videos {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #DDD;
}
@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}
.videos .list  {
  min-width: 300px;
}
.videos .list .name {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
}
.videos .list ul li {
  transition-duration: var(--main-duration);
  padding: 20px;
  background-color: white;
  border-top: 1px solid #eee;
  cursor: pointer;
}
.videos .list ul li:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.videos .list ul li span {
  display: block;
  color: var(--paragraph-color);
  margin-top: 10px;
}
.videos .preview {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e2e2e2;
}
.videos .preview img {
  max-width: 100%;
}
.videos .preview p {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}
/* End Videos  */
/* Start Animation */
@keyframes up-and-down {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(-25%);
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0px);
  }
  40%,
  60% {
    transform: translateX(-50%) translateY(-20px);
  }
}
@keyframes main-title {
  from {
    color: black;
    border-color: black;
  }
  to {
    color: white;
    border-color: var(--main-color);
  }
}
@keyframes fill-right {
  0% {
    left: -30px;
    border-radius: 50%;
  }
  50% {
  left: 0;
  width: 12px;
  height: 12px;
  }
  100% {
  left: 0;
  border-radius: 0;
  width: 100%;
  height: 102%;
  }
}
@keyframes fill-left {
  0% {
    right: -30px;
    border-radius: 50%;
  }
  50% {
  right: 0;
  width: 12px;
  height: 12px;
  }
  100% {
  right: 0;
  border-radius: 0;
  width: 100%;
  height: 102%;
  }
}
@keyframes arrow-move-right {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
/* End Animation */
